<h1>Users</h1>
<div>
  <a class="btn btn-primary" href="/users/new">Add a User</a>
</div>
<br>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td ><a [routerLink]="['/users', user.id]"><i class="glyphicon glyphicon-edit"> </i></a></td>
        <td> <i (click)="deleteUser(user)" class="glyphicon glyphicon-remove clickable"></i></td>
      </tr>
    </tbody>
  </table>
</div>
